@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  padding: 1rem;
  background-color: #000;
}
.navbar ul {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
